numpy>=1.26
scipy>=1.11
numba>=0.58
torch>=2.2
stable-baselines3>=2.3.0
sb3-contrib>=2.3.0
pettingzoo>=1.24.3
supersuit>=3.9.0
gymnasium>=0.29.1
tensorboard>=2.16.0
matplotlib>=3.8
pandas>=2.2
imageio>=2.34
imageio-ffmpeg>=0.4.9
pytest>=8.0
pyyaml>=6.0
streamlit>=1.28.0
plotly>=5.17.0
